<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Form</title>
</head>

<body>
    <h1>Upload a file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="lat">Latitude:</label>
        <input type="text" name="lat" id="lat" required><br><br>

        <label for="lon">Longitude:</label>
        <input type="text" name="lon" id="lon" required><br><br>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" required><br><br>

        <input type="submit" value="Upload">
    </form>

    {% if filename %}
    <h2>File Uploaded Successfully!</h2>
    <p>Download it <a href="{{ url_for('uploaded_file', filename=filename) }}">here</a>.</p>
    {% endif %}
</body>

</html>