version: '3.8'

services:
  flask:
    build: .
    container_name: flask-app
    ports:
      - "5000:5000"
    volumes:
      - ./files:/app/files
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydatabase
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: